.anchor {
  color: theme(colors.link-colour);
  text-decoration: underline;
  
  &:hover {
    color: theme(colors.link-hover-colour)
  }

  &:focus-visible {
    outline: 4px solid theme(colors.link-focus-bg);
  }

  &:focus {
    background-color: theme(colors.link-focus-bg);
  }
}

.title {
  font-weight: 700;
}